include ../utils/mixins
block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE = edge")
		<![endif]-->
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		meta(name="keywords" content="")
		meta(name="description" content="")
		meta(name="author" content="")
		title KAMI | Test
		link(rel="shortcut icon" href="i/icon/bike-ic.png")
		link(rel="stylesheet" type='text/css' href='css/main.css')
		<!--[if lt IE 9]>
		script(src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js")
		<![endif]-->	
	body(class=pageClass)
		.wrapper
			include ../modules/dashboard/dashboard
			.content
				block content

		script(src="js/libs.min.js")
		script(src="js/main.js")
		block script