section.dashboard
	.dashboard__col
		.dashboard__item
			.dashboard__info
				span.dashboard__number 165
				span.dashboard__text отзывов
			.dashboard__img.dashboard__img--review
		.dashboard__item
			.dashboard__info
				span.dashboard__number 21
				span.dashboard__text неотвеченный отзыв
			.dashboard__img.dashboard__img--messages
	.dashboard__col
		.dashboard__item
			.dashboard__info
				span.dashboard__number 50
				span.dashboard__text обновлений
			.dashboard__img.dashboard__img--update
		.dashboard__item
			.dashboard__info
				span.dashboard__number 4,5
				span.dashboard__text средний рейтинг
			.dashboard__img.dashboard__img--rating