extends template/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	include pages/index/platform-1
	include pages/index/platform-2
	include pages/index/platform-3
	include pages/index/platform-4