// Input colors
$white: #ffffff;
$black: #000000;
$blue: #e4edf4;
$darkBlue: #cbdbe7;
$purple: #560298;
$gray: #cccdd3;
$yellow: #fead11;
// Output colors

$main_color: $white;
$second_color: $black;
$bg_color: $blue;
$nonactive_color: $darkBlue;
$corporate_color: $purple;
$nonactive_text: $gray;
$golden_color: $yellow;


// Sizes
$tablet-size: 888px;
$phone-size: 618px;
$small-size: 374px;


// Fonts


// Font sizes
