section.platforms.platform
	.platform__col
		.platform__header
			.platform__header-title Google
			.platform__info-text все 30 заведений настроены
		.platform__body
			.btn.btn__platform.btn__platform--active Синхронизировано
			.btn.btn__platform Инфа
			.btn.btn__platform Прайс
			.btn.btn__platform Фото
			.btn.btn__platform Акции
		.platform__footer
			.platform__rating-img.platform__rating-img--active
			.platform__rating-text 4,5 из 5
			.platform__info-text.platform__info-text--active 198 отзывов, 15 неотвеченных
	.platform__col.platform__col--right
		.menu#active-menu
			.menu__wrapper
				.menu__dot
				.menu__dot
				.menu__dot
		.option.option-one#option-one
			a(href="#") Выключить
		.platform__notify
			a(href="#").platform__notify-text 2 обновления