section.platforms.platform.platform--nonactive
	.platform__col
		.platform__header
			.platform__header-title.platform__header-title--nonactive Yell
		.platform__body
			.platform__info-text-disabled Площадка отключена
	.platform__col.platform__col--right
		.menu#nonactive-menu
			.menu__wrapper
				.menu__dot
				.menu__dot
				.menu__dot
		.option.option-four#option
			a(href="#") Включить