section.platforms.platform
	.platform__col
		.platform__header
			.platform__header-title Flado
			.platform__info-text 30 заведений
			.platform__info-text 4 настроено
			.platform__info-text 20 в поиске
		.platform__body
			.btn.btn__platform-load Создаём 3 страницы
			.btn.btn__platform Инфа
			.btn.btn__platform Прайс
			.btn.btn__platform Фото
			.btn.btn__platform Акции
			.btn.btn__platform-attention.btn__platform-attention--mob Требует действий
		.platform__footer
			.platform__rating-img.platform__rating-img--nonactive
			.platform__info-text-disabled Портал без рейтинга
	.platform__col.platform__col--right
		.menu
			.menu__wrapper
				.menu__dot
				.menu__dot
				.menu__dot
		.platform__notify
			.btn.btn__platform-attention Требует действий