section.platforms.platform.platform--nonactive
	.platform__col
		.platform__header
			.platform__header-title 2Gis
		.platform__body
			.btn.btn__platform-load Создаём 3 страницы
			.btn.btn__platform-attention.btn__platform-attention--mob Требует действий
		.platform__footer
			.platform__info-text-disabled Поиск заведений 15 из 78...
	.platform__col.platform__col--right
		.menu
			.menu__wrapper
				.menu__dot
				.menu__dot
				.menu__dot
		.platform__notify
			.btn.btn__platform-attention Требует действий